/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size: 100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
font-size: 16px;
background: #0E101C;
/* font-family:"KaiTi",Times,serif; */
color: #fff;
}

:focus {
outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
border:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted #000;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

li{
	list-style: none;
}

.bd { border: 1px solid; }
.bzb { box-sizing: border-box; }
.h100pc { height: 100%; }
.w100pc { width: 100%; }
.dsn { display: none; }
/*// (4) 定位*/
.fixed { position: fixed; }
.rel { position: relative; }
.abs { position: absolute; }
/*// (7)居中*/
.tac { text-align: center; }
/*// (8) 行高*/
.lh15 { line-height: 1.5; }
/*// 颜色设置*/
.f999 { color: #999; }
.fff { color: #ffffff; } 
.gray { color: #4D4D4D; }
.fffs { color: #ffffff;
				font-size: 14px; } 
.grays { color: #ECEEF2; 
         font-size: 14px; }
.grays { color: #696969; }
.blue{	color: #00A9FF;}
.red{	color: red;}
.green{	color: #5BB021;}
.orange{	color: #F79F61;}
.red2x{	color: #FD5454;}
/*// (11) 背景颜色*/
.bg-green { background: green; }
.bg-gray { background: #4D4D4D;}
.bg-fff { background: #ffffff;}
.bg-grays { background: #ECEEF2; font-size: 14px; }
.bg-fffs { background: #ffffff; font-size: 14px; }
.bg-black { background: #222426; } 
.border{border: 1px solid red;}
/*字体加粗*/
.weight{ font-weight: bold; }
.weight4{ font-weight: 400; }

/*鼠标类型*/
 .cursor{
 	    cursor: pointer;
 }

.font{
	font-family:SourceHanSansCN-Regular;
font-weight:400;
color:rgba(51,51,51,1)
}

.fontN{
	font-family:SourceHanSansCN-Normal;
font-weight:400;
color:rgba(51,51,51,1)
}
/*字体大小*/
.f10{ font-size: 0.1rem; }
.f20{ font-size: 0.2rem; }
.f22{ font-size: 0.22rem; }
.f24{ font-size: 0.24rem; }
.f26{ font-size: 0.26rem; }
.f30{ font-size: 0.3rem; }
.f32{ font-size: 0.32rem; }
.f34{ font-size: 0.34rem; }
.f36{ font-size: 0.36rem; }
.f38{ font-size: 0.38rem; }
.f40{ font-size: 0.4rem; }


.fw {font-weight: bold;}

/*// flex相关
// 水平居中,垂直居中*/
.fcc {
    -moz-display: flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -webkit-display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -o-display: flex;
    -o-justify-content: center;
    -o-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ifcc {
    -moz-display: inline-flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -webkit-display: inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -o-display: inline-flex;
    -o-justify-content: center;
    -o-align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/*// 垂直居中,两端对齐*/
.fsb {
    -moz-display: flex;
    -moz-justify-content: space-between;
    -moz-align-items: center;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -o-display: flex;
    -o-justify-content: space-between;
    -o-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.van-button--normal {
	padding: 0 0.15rem !important;
	font-size: 0.28rem !important;
}
/*// 垂直居中,分散对齐*/
.fsa {
    -moz-display: flex;
    -moz-justify-content: space-around;
    -moz-align-items: center;
    -webkit-display: flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    -o-display: flex;
    -o-justify-content: space-around;
    -o-align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*// 剩余空间分配*/
.fg1 { 
			 -moz-flex-grow: 1;
			 -webkit-flex-grow: 1;
			 -o-flex-grow: 1;
			 flex-grow: 1;
			  }
.fg2 { 
	-moz-flex-grow: 2; 
	-webkit-flex-grow: 2; 
	-o-flex-grow: 2; 
	flex-grow: 2; 
	}
	
.fg3 { 
	-moz-flex-grow: 3; 
	-webkit-flex-grow: 3; 
	-o-flex-grow: 3; 
	flex-grow: 3; 
	}
	
.flex { 
				-o-display: flex; 
				-moz-display: flex;
				-webkit-display: flex;
				display: flex;
			}
/*// 纵向排列*/
.fdc {
    -moz-display: flex;
    -moz-flex-direction: column;
    -webkit-display: flex;
    -webkit-flex-direction: column;
    -o-display: flex;
    -o-flex-direction: column;
    display: flex;
    flex-direction: column;
}
/*// 水平垂直居中*/
.fdcc {
    -moz-display: flex;
    -moz-flex-direction: column;
    -moz-justify-content: center;
    -moz-align-items: center;
    -webkit-display: flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -o-display: flex;
    -o-flex-direction: column;
    -o-justify-content: center;
    -o-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*// justify-content*/
.jc-start { 
	-moz-justify-content: flex-start; 
	-webkit-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	}
	.jc-end { 
	-moz-justify-content: flex-end; 
	-webkit-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	}
.jc-center { 
	-moz-justify-content: center; 
	-webkit-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	}
.jc-sb { 
	-moz-justify-content: space-between; 
	-webkit-justify-content: space-between; 
	-o-justify-content: space-between; 
	justify-content: space-between; 
	}
.jc-sa { 
	-moz-justify-content: space-around; 
	-webkit-justify-content: space-around; 
	-o-justify-content: space-around; 
	justify-content: space-around; 
	}
.ai-center { 
	-moz-align-items: center; 
	-webkit-align-items: center; 
	-o-align-items: center; 
	align-items: center; 
	}
	
/* 外间距-top */
	.mg-t-10 {
		margin-top: 0.1rem;
	}
	
	.mg-t-20 {
		margin-top: 0.2rem;
	}
	
	.mg-t-30 {
		margin-top: 0.3rem;
	}
	
	.mg-t-40 {
		margin-top: 0.4rem;
	}
	
	.mg-t-50 {
		margin-top: 0.5rem;
	}
	
	.mg-t-60 {
		margin-top: 0.6rem;
	}
	
	.mg-t-150{
		margin-top: 1.5rem;
	}
	
	/* 内间距-bottom */
	.pd-b-10 {
		padding-bottom: 0.1rem;
	}
	
	.pd-b-20 {
		padding-bottom: 0.2rem;
	}
	
	.pd-b-30 {
		padding-bottom: 0.3rem;
	}
	
	.pd-b-40 {
		padding-bottom: 0.4rem;
	}
	
	/* 外间距-bottom */
	.mg-b-10 {
		margin-bottom: 0.1rem;
	}
	
	.mg-b-20 {
		margin-bottom: 0.2rem;
	}
	
	.mg-b-30 {
		margin-bottom: 0.3rem;
	}
	
	.mg-b-40 {
		margin-bottom: 0.4rem;
	}
	
	/* 外间距-right */
	.mg-r-10 {
		margin-right: 0.1rem;
	}
	
	.mg-r-20 {
		margin-right: 0.2rem;
	}
	
	.mg-r-30 {
		margin-right: 0.3rem;
	}
	
	.mg-r-40 {
		margin-right: 0.4rem;
	}
	
	.mg-r-50 {
		margin-right: 50px;
	}
	
	/* 外间距-left */
	.mg-l-10 {
		margin-left: 0.1rem;
	}
	
	.mg-l-20 {
		margin-left: 0.2rem;
	}
	
	.mg-l-30 {
		margin-left: 0.3rem;
	}
	
	.mg-l-40 {
		margin-left: 0.4rem;
	}
		
	.mg-l-50 {
		margin-left: 50px;
	}	
	
	/* 内间距-left */
	.pd-l-10 {
		padding-left: 0.1rem;
	}
	
	.pd-l-20 {
		padding-left: 0.2rem;
	}
	
	.pd-l-30 {
		padding-left: 0.3rem;
	}
	
	.pd-l-40 {
		padding-left: 0.4rem;
	}
	
	.lrmg-10 {
		margin: 0 0.1rem;
	}
	.lrmg-20 {
		margin: 0 0.2rem;
	}
	.lrmg-30 {
		margin: 0 0.3rem;
	}
	.lrmg-40 {
		margin: 0 0.4rem;
	}
	
	.pd-r-10 {
		padding-right: 0.1rem;
	}
	.pd-r-20 {
		padding-right: 0.2rem;
	}
	.pd-r-30 {
		padding-right: 0.3rem;
	}
	.pd-r-40 {
		padding-right: 0.4rem;
	}		
	
	.pd-t-10{
		padding-top: 0.1rem;
	}
	.pd-t-20{
		padding-top: 0.2rem;
	}
	.pd-t-30{
		padding-top: 0.3rem;
	}
	.pd-t-40{
		padding-top: 0.4rem;
	}
	
	
	.lrpadd-10 {
		padding: 0 0.1rem;
	}
	.lrpadd-20 {
		padding: 0 0.2rem;
	}
	.lrpadd-30 {
		padding: 0 0.3rem;
	}
	.lrpadd-40 {
		padding: 0 0.4rem;
	}
	
	.tmpadd-10 {
		padding: 0.1rem 0;
	}
	.tmpadd-20 {
		padding: 0.2rem 0;
	}
	.tmpadd-30 {
		padding: 0.3rem 0;
	}
	.tmpadd-40 {
		padding: 0.4rem 0;
	}
	
	
	.tmmgin-10 {
		margin: 0.1rem 0;
	}
	.tmmgin-20 {
		margin: 0.2rem 0;
	}
	.tmmgin-30 {
		margin: 0.3rem 0;
	}
	.tmmgin-40 {
		margin: 0.4rem 0;
	}
	
	.tmpadd-10 {
		padding: 0.1rem 0;
	}
	.tmpadd-20 {
		padding: 0.2rem 0;
	}
	.tmpadd-30 {
		padding: 0.3rem 0;
	}
	.tmpadd-40 {
		padding: 0.4rem 0;
	}
	
	.pd-r-100{
		padding-right: 1rem;
	}
	
	.pd-l-100{
		padding-left: 1rem;
	}
	
	.pd-r-70{
		padding-left: 0.7rem;
	}
	
	.bra10{
		border-radius: 0.1rem;
	}
	
	.bra15{
		border-radius: 0.15rem;
	}
	
	.bra20{
		border-radius: 0.2rem;
	}
	
	.bra30{
		border-radius: 0.3rem;
	}
	
	.bra50{
		border-radius: 50%;
	}
	
	.bra60{
		border-radius: 0.6rem;
	}